<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suncoindustries.squadupdsm" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpC"
            android:label="@string/title_activity_signup"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.suncoindustries.squadupdsm.MainActivity" />
        </activity>
        <activity
            android:name=".InterestQuizC"
            android:label="@string/title_activity_quiz"
            android:parentActivityName=".SignUpC" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SignUpC" />
        </activity>
        <activity
            android:name=".UserProfileC"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.suncoindustries.squadupdsm.MainActivity" />
        </activity>
        <activity
            android:name=".EventsC"
            android:label="@string/title_activity_events"
            android:parentActivityName=".UserProfileC" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserProfileC" />
        </activity>
        <activity
            android:name=".OtherProfileC"
            android:label="@string/title_activity_other_profile"
            android:parentActivityName=".UserProfileC" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserProfileC" />
        </activity>
        <activity
            android:name=".SettingsC"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".UserProfileC" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserProfileC" />
        </activity>
        <activity
            android:name=".LoginC"
            android:label="@string/title_activity_login" >
        </activity>
    </application>

</manifest>
